<?xml version="1.0"?>
<ModuleSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FColor1>-1</FColor1>
  <FColor2>-1</FColor2>
  <FColor3>-1</FColor3>
  <FColor4>-1</FColor4>
  <FColor5>-1</FColor5>
  <FColor6>-1</FColor6>
  <FColor7>-1</FColor7>
  <FColor8>-1</FColor8>
  <FColor9>-1</FColor9>
  <FColor10>-1</FColor10>
  <FColor11>-1</FColor11>
  <FColor12>-1</FColor12>
  <FColor13>-1</FColor13>
  <FColor14>-1</FColor14>
  <FColor15>-1</FColor15>
  <FColor16>-1</FColor16>
  <FColor17>-1</FColor17>
  <FColor18>-1</FColor18>
  <FColor19>-1</FColor19>
  <FColor20>-1</FColor20>
  <FColor21>-1</FColor21>
  <FColor22>-1</FColor22>
  <FColor23>-1</FColor23>
  <FColor24>-1</FColor24>
  <FColor25>-1</FColor25>
  <FColor26>-1</FColor26>
  <FColor27>-1</FColor27>
  <BColor1>-13447886</BColor1>
  <BColor2>-9437026</BColor2>
  <BColor3>-9437026</BColor3>
  <BColor4>-9437026</BColor4>
  <BColor5>-9437026</BColor5>
  <BColor6>-9437026</BColor6>
  <BColor7>-9437026</BColor7>
  <BColor8>-9437026</BColor8>
  <BColor9>-9437026</BColor9>
  <BColor10>-4177920</BColor10>
  <BColor11>-9437026</BColor11>
  <BColor12>-15835713</BColor12>
  <BColor13>-16777216</BColor13>
  <BColor14>-15835713</BColor14>
  <BColor15>-16777216</BColor15>
  <BColor16>-15835713</BColor16>
  <BColor17>-16777216</BColor17>
  <BColor18>-15835713</BColor18>
  <BColor19>-16777216</BColor19>
  <BColor20>-15835713</BColor20>
  <BColor21>-16777216</BColor21>
  <BColor22>-15835713</BColor22>
  <BColor23>-16777216</BColor23>
  <BColor24>-15835713</BColor24>
  <BColor25>-16777216</BColor25>
  <BColor26>-15835713</BColor26>
  <BColor27>-16777216</BColor27>
  <MainFormTime>5</MainFormTime>
  <WelComeFromTime>5</WelComeFromTime>
  <RowOneWelComeText>欢迎***公司领导</RowOneWelComeText>
  <RowTwoWelComeText>莅临北京分公司检查指导工作</RowTwoWelComeText>
  <FontSize>60</FontSize>
  <FontFamily>楷体</FontFamily>
  <NumFontSize>65</NumFontSize>
  <NumFontFamily>Times New Roman</NumFontFamily>
  <HZFontSize>40</HZFontSize>
  <HZFontFamily>宋体</HZFontFamily>
  <YWFontSize>60</YWFontSize>
  <YWFontFamily>Times New Roman</YWFontFamily>
  <TimeFontSize>70</TimeFontSize>
  <TimeFontFamily>Times New Roman</TimeFontFamily>
  <JPHFontSize>70</JPHFontSize>
  <JPHFontFamily>Times New Roman</JPHFontFamily>
  <TimeString>15:40</TimeString>
  <WelComeTextTop>200</WelComeTextTop>
  <WelComeTextRowledge>50</WelComeTextRowledge>
  <WelComeBackgroundImage>北汽欢迎.jpg</WelComeBackgroundImage>
</ModuleSettings>