<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
           xmlns:db="http://www.springframework.net/database"
           xmlns:tx="http://www.springframework.net/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
  <!-- 测试SpringWebService-->
  <object id="ScadaDeviceService" type="Spring.Web.Services.WebServiceExporter, Spring.Web">
    <property name="TargetName" value="Root.BLL.ScadaService"/>
    <property name="Interfaces">
      <list>
        <value>Scada.BLL.Contract.IScadaDeviceService,Scada.BLL.Contract</value>
      </list>
    </property>
  </object>

  <object id="SystemManagerService" type="Spring.Web.Services.WebServiceExporter, Spring.Web">
    <property name="TargetName" value="Root.BLL.SystemManagerService"/>
    <property name="Interfaces">
      <list>
        <value>Scada.BLL.Contract.ISystemManagerService,Scada.BLL.Contract</value>
      </list>
    </property>
  </object>
</objects>