<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="Center" connectionString="Data Source=203.166.177.30;Initial Catalog=SCADA_DEV;User ID=sa;Password=pass@word1"
        providerName="System.Data.SqlClient" />-->

    <add name="Center" connectionString="Data Source=211.152.54.30;Initial Catalog=SCADA_DEV;User ID=sa;Password=pass@word1"
         providerName="System.Data.SqlClient" />
    
    <!--<add name="Center" connectionString="Data Source=124.248.35.194\SYMMSSQL,14330;Initial Catalog=zhengguojiang;Persist Security Info=True;User ID=zhengguojiang;Password=!QAZ2wsx;Connect Timeout=2000"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>