<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Center" connectionString="Data Source=223.4.89.177;Initial Catalog=SCADA_DEV;User ID=sa;Password=!qazxsW2;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>