<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Center" connectionString="Data Source=203.166.177.30;Initial Catalog=SCADA;User ID=sa;Password=pass@word1"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>