<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.SCADAConnectionString"
            connectionString="Data Source=YANGHONGKANG;Initial Catalog=SCADA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.zhengguojiangConnectionString"
            connectionString="Data Source=124.248.35.194\SYMMSSQL,14330;Initial Catalog=zhengguojiang;Persist Security Info=True;User ID=zhengguojiang;Password=!QAZ2wsx"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.SCADAConnectionString1"
            connectionString="Data Source=211.152.52.203;Initial Catalog=SCADA;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>